ol,ul{
	list-style:none;
	padding:0;
}
.slides{
	margin:0; padding:0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper1{
	width: 100%;
}
#map-canvas { height: 100% }
.btn{
	 text-shadow: none !important;
}
.entypo_font{
	font-family: 'entypo';
	line-height: 0;
	margin: 0;
	padding: 0;
	font-size: 56px;
}
.entypo_font_social{
	font-family: 'entyposocial';
	line-height: 0;
	margin: 0;
	padding: 0;
	font-size: 56px;
}
.area_padding{
	padding:100px 0;
	overflow:hidden;
}

.sepTitles {
    width: 40px;
    height: 5px;
    background: #F06E6A;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.section_title {
    margin-bottom: 50px;
}

.logo{
	color: #fff !important;
    font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	margin-top: 19px;
	text-decoration:none;
}
/*.area_padding:nth-child(even){*/
	/*background: none repeat scroll 0 0 #EBEBEB;*/
	/*border-bottom: 1px solid #DDDDDD;*/
	/*border-top: 1px solid #DDDDDD;*/
/*}*/
#headerMask {
    background: url("../images/maskTop.png") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
}
.header_area{
	background: url("../images/slider1.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
	width: 100%;
	margin: 0;
	padding: 0;
    font-family: 'Raleway',sans-serif;
}
.header_inner{
	left: 0;
	overflow: hidden;
	padding-top: 200px;
	position: relative;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
}

.social-intro {
    margin-top: 45px;
    position: relative;
    z-index: 150;
}
.social-intro ul li {
    display: inline;
    margin: 0 5px;
}
.social-intro a {
    opacity: 0.7;
}
.social-intro a:hover {
    opacity: 1;
}

.social-intro a {
    color: #fff;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    line-height: 26px;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    width: 30px;
}

.main_slider{
	max-width:100%;
}
.main_slider .flex-active-slide{
}
.main_slider .flex-control-paging{
	color: #FFFFFF;
	height: auto;
	list-style: none outside none;
	position: absolute;
	right: 0;
	text-align: right;
	bottom: 10%;
	width: auto;
	z-index: 2;
}
.main_slider .flex-control-paging li{
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}
.main_slider .flex-control-paging li a{
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	height: 5px;
	margin: 5px 0;
	text-indent: 1000px;
	width: 15px;
}
.main_slider .flex-control-paging li a:hover, .main_slider .flex-control-paging li a.flex-active{
	background:#fff;
}
.main_slider .slides{
	margin: 0;
	padding: 0;
	width: 100% !important;
}
.main_slider .slides li {
	height:104px;
	width:100%;
	text-align:center;
}
.header_inner .txtAbout {
    color: #fff;
    letter-spacing: 1px;
}
.sepTopSlider {
    width: 40px;
    height: 5px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 5px;
}
.header_inner .logoTop {
    margin-bottom: 120px;
}
.main_slider .slides li .title{
	color: #555;
    font-family: 'Raleway',sans-serif;
	font-size: 60px;
	font-weight: 800;
    letter-spacing: 4px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	overflow: none;
}
.main_slider .slides li .subtitle{
	color: #aaa;
    font-family: 'Raleway',sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
.slider_readmore{
	display: inline-block;
	padding: 17px 19px;
	text-align: center;
	top:10%;
    opacity: 1;
    position: relative;
    bottom: 0;
}
.slider_readmore:hover{
	transition:all .8s;
	-moz-transition:all .8s;
	-webkit-transition:all .8s;
	-o-transition:all .8s;
	-ms-transition:all .8s;
}








.scroll-down {
    color: #fff;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    bottom: 40px;
    width: 90px;
    height: 90px;
    left: 50%;
    margin-left: -45px;
    background-color: #171717;
    border-radius:90px;
    text-align: center;
    font-family: "Raleway";
    font-weight:400;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 13px;
    -webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -ms-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
}

.scroll-down.paused:hover {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    -ms-animation-play-state:paused;
    animation-play-state:paused;
}

.scroll-down.paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    -ms-animation-play-state:paused;
    animation-play-state:paused;
}

.scroll-down div { position: relative;}
.scroll-down span.arrow-down { position: absolute; top:20px; display: block; width: 90px; font-family: "EntypoMoon"; color: #fff; text-align: center; font-size: 20px;}
.scroll-down span.scroll-text { padding-top: 30px; display: block;}
.scroll-down:hover span.arrow-down { color: #171717;}
.scroll-down:hover {
    background-color: #FFF;
    color:#171717;
    -webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -ms-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
    -webkit-animation: scrollBounce 1s infinite; /* Safari 4+ */
    -moz-animation:    scrollBounce 1s infinite; /* Fx 5+ */
    -o-animation:      scrollBounce 1s infinite; /* Opera 12+ */
    -ms-animation:     scrollBounce 1s infinite; /* IE 8/9? */
    animation:         scrollBounce 1s infinite; /* IE 10+ */}


.scroll-to-top {
    display: none;
    position: absolute;
    z-index: 1000;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    top: 50%;
    width: 44px;
    height: 44px;
    right: 5%;
    background-color: #660013;
    border-radius:44px;
    text-align: center;
    font-family: "EntypoMoon";
    font-size: 24px;
    line-height: 40px;
    vertical-align: middle;
    -webkit-transition:all .25s ease-in;
    -moz-transition:all .25s ease-in;
    -ms-transition:all .25s ease-in;
    -o-transition:all .25s ease-in;
    transition:all .25s ease-in;
}

.scroll-to-top:hover {
    -webkit-animation: scrollBounce2 1s infinite; /* Safari 4+ */
    -moz-animation:    scrollBounce2 1s infinite; /* Fx 5+ */
    -o-animation:      scrollBounce2 1s infinite; /* Opera 12+ */
    animation:         scrollBounce2 1s infinite; /* IE 10+ */
}


@-webkit-keyframes scrollBounce {
    0%, 100% {
        bottom: 30px;
        opacity:1;
    }
    50% {
        bottom: 20px;
        opacity:.8;
    }
}
@-moz-keyframes scrollBounce {
    0%, 100% {
        bottom: 30px;
        opacity:1;
    }
    50% {
        bottom: 20px;
        opacity:.8;
    }
}
@-o-keyframes scrollBounce {
    0%, 100% {
        bottom: 30px;
        opacity:1;
    }
    50% {
        bottom: 20px;
        opacity:.8;
    }
}
@keyframes scrollBounce {
    0%, 100% {
        bottom: 30px;
        opacity:1;
    }
    50% {
        bottom: 20px;
        opacity:.8;
    }
}

@-webkit-keyframes scrollBounce2 {
    0%, 100% {
        margin-top:0px;
        opacity:1;
    }
    50% {
        margin-top:-10px;
        opacity:.8;
    }
}
@-moz-keyframes scrollBounce2 {
    0%, 100% {
        margin-top:0px;
        opacity:1;
    }
    50% {
        margin-top:-10px;
        opacity:.8;
    }
}
@-o-keyframes scrollBounce2 {
    0%, 100% {
        margin-top:0px;
        opacity:1;
    }
    50% {
        margin-top:-10px;
        opacity:.8;
    }
}
@keyframes scrollBounce2 {
    0%, 100% {
        margin-top:0px;
        opacity:1;
    }
    50% {
        margin-top:-10px;
        opacity:.8;
    }
}











.main_menu_outer{
	min-height:60px;
	margin:0;
	padding:0;
	width:100%;
	position:relative;
	top:0;
	left:0;
	z-index:1000;
}
.menu_area{
	background: none repeat scroll 0 0 #414655;
	border: 0 none;
	border-radius: 0 !important;
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	height: auto;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
}
.menu_area .navbar-header{}
.menu_area .navbar-header .navbar-brand{
	height: auto;
	padding: 0;
}
.menu_area .navbar-header .navbar-brand img{
	height: 70px;
	margin-top: 10px;
}
.menu_area .navbar-collapse{}
.menu_area .navbar-nav{}
.menu_area .navbar-nav li{}
.menu_area .navbar-nav li a{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #fff;
    font-size: 13px;
	font-weight: 700;
	padding: 35px 11px;
	text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
.topFixedMenu{
	/*background: none repeat scroll 0 0 #FFFFFF;*/
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
	left: 0;
	position: fixed;
	top: 0;
	z-index: 1000;
}
.topFixedMenu  .navbar-nav li a{
	padding: 20px 11px;
}
.topFixedMenu .logo{
	font-size: 30px;
	line-height: 40px;
	margin: 10px 0 0 0 !important;
	padding: 0;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none!important;
}
.menu_area .navbar-nav li.active a:hover,.menu_area .navbar-nav li.active a,.menu_area .navbar-nav li a:hover{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	color: #F06E6A;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #414655!important;
    color: #F06E6A!important;
    outline: none;
}
.navbar-default .navbar-nav > li > a:focus
.section_title{
	padding-bottom:60px;
}
.section_title h2{
	color: #000000;
	font-size: 38px;
	font-weight: 800;
	text-align: center;
	margin:0;
	padding:0;
    font-family: 'Raleway', sans-serif;
}
.section_title p{
    color: #555;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	margin: 0 auto;
	max-width: 862px;
	padding: 9px 0 0;
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}



.landing_page_area{}
.landing_page{}
.landing_page_slider{
	margin-top:20px;
}
.landing_page_slider_container{}
.landing_page_slider .slides{}
.landing_page_slider .slides .single_landing_page_content{
	display: block;
	margin: 0 39px;
	padding: 0;
	text-align: center;
}
.landing_page_slider .slides .single_landing_page_content div{
	background: none repeat scroll 0 0 #21C2F8;
	border: 5px solid #21C2F8;
	border-radius: 50%;
	color: #FFFFFF;
	display: inline-block;
	height: 150px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 150px;
	cursor:pointer;
	transition:all .5s;
}
.landing_page_slider .slides .single_landing_page_content div span{
	display: inline-block;
	font-size: 62px;
	margin-top: 38px;
}
.landing_page_slider .slides .single_landing_page_content div:hover{
	background:#fff;
	color: #21C2F8;
}
.landing_page_slider .flex-direction-nav{
	position:relative;
	top:0;
	left:0;
	z-index:1;
	text-align:center;
	margin-top:60px;
}

.landing_page_slider .flex-direction-nav li{
	background: none repeat scroll 0 0 #21C2F8;
	display: inline-block;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	height:auto;
	width: auto;
}
.landing_page_slider .flex-direction-nav li+li{
	margin-left:5px;
}
.landing_page_slider .flex-direction-nav li a{
	background: none repeat scroll 0 0 #21C2F8;
	display: block;
	height: 4px;
	left: 0;
	margin: 0;
	padding: 0;
	top: 0;
	width: 40px;
	z-index: 10;
}
.landing_page_slider .flex-direction-nav li a:hover,.landing_page_slider .flex-direction-nav li a:hover{
	background:#000000;
}
.landing_page_slider .slides .single_landing_page_content h3{
	color: #777777;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
.landing_page_slider .slides .single_landing_page_content p{
	color: #000000;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* ==============================================================
================= PORTFOLIO
============================================================== */
#portfolios {
    background: #F3F4F5;
}
.portfolio_area{}
.portfolio{}
.portfoloi_top{}
.portfoloi_top .about_us{padding-bottom:10px; margin-bottom:0;}
.portfoloi_top .about_us p{}
.portfoloi_content_area{}
.portfolio_menu{
	text-align: center;
	overflow: hidden;
	margin-top:22px;
	margin-bottom:48px;
}
.portfolio_menu ul{
	list-style: none outside none;
    text-align: center;
}
.portfolio_menu ul li{
    display: inline-block;
}
.portfolio_menu ul li a{
	background: transparent;
    color: #000000;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.active_prot_menu a, .portfolio_menu ul li a:hover{
	background: #21C2F8!important;
	color:#fff !important;
}
.portfolio_content{}
.portfolio_single_content{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	margin-bottom:30px;
	overflow:hidden;
	
}
.portfolio_single_content:hover img{
	 -o-transform: scale(2);
	 -webkit-transform: scale(2);
	 -moz-transform: scale(2);
	 -ms-transform: scale(2);
	 transform: scale(2);
}
.portfolio_single_content img{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 6;
	cursor:pointer;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
}
.portfolio_single_content .canv{
	width:100% !important;
	height:100% !important;
}
.portfolio_single_content div+div{
	background: none repeat scroll 0 0 rgba(255,255,255,.9);
	bottom: -100%;
	color: #FFC000;
	font-weight: bold;
	left: 0;
	margin: 0;
	min-height: 90px;
	padding:31px 5px 0 10px;
	position: absolute;
	width: 100%;
	z-index: 12;
	border-top:0;
}
/*.portfolio_single_content:hover div+div{bottom: 0;}*/
.portfolio_single_content div{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	background:none repeat scroll 0 0 rgba(33, 194, 248, 0.95);
	text-align:center;
	transform:scale(0);
	transition:all .6s;
	opacity:0;
}
.portfolio_single_content:hover div{
	transform:scale(1);
	opacity:1;
}
.portfolio_single_content div a{
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 40%;
	text-decoration: none;
	text-transform: uppercase;
}
.portfolio_single_content div span{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.portfolio_content{}
.portfolio_content{
    margin-top: 36px;
    overflow: hidden;
}
.portfolio_content .col-md-1{margin:0; padding:0;}
/* Featured Style start */
.features_area{}
.features_left{}
.features_left img{
	border: 0 none;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	padding: 0;
	margin-top:50px;
}
.features_right{}
.features_right h2{
	color: #000000;
	font-size: 38px;
	font-weight: 800;
	margin: 0;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
.features_right h2 span{
	color:#21C2F8;
}
.features_right ul{
	margin: 46px 0;
	padding: 0;
	list-style: none;
}
.features_right ul li{
	margin: 12px 0;
	overflow: hidden;
}
.features_right ul li p{
	color: #000000;
	float: left;
	font-size: 14px;
	line-height: 24px;
	margin-left: 30px;
	margin-top: 20px;
	width: 399px;
}
.features_right ul li div:first-child{
	border: 2px solid #444;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	color: #888888;
	display: inline-block;
	float: left;
	font-size: 72px;
	font-weight: 800;
	height: 90px;
	line-height: 80px;
	margin: 10px;
	padding: 0;
	text-align: center;
	width: 90px;
	overflow:hidden;
}
.features_right ul li span{
	display:inline-block;
}
.features_right ul li:hover  span{
	-webkit-animation: animation_1 .5s;
	-moz-animation: animation_1 .5s;
	-ms-animation: animation_1 .5s;
	-o-animation: animation_1 .5s;
	animation: animation_1 .5s;
}
.features_right div{
	clear:both;
	width:100%;
	overflow:hidden;
}
.features_right div a{
	background: none repeat scroll 0 0 #fff;
	border:1px solid #21C2F8;
	border-radius: 0;
	box-shadow: none;
	color: #21C2F8 !important;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	margin: 0px auto;
	padding: 13px 54px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-moz-transition:all .8s;
	-o-transition:all .8s;
	-webkit-transition:all .8s;
	-ms-transition:all .8s;
	transition:all .8s;
	text-shadow:none;
}
.features_right div a:last-child{
	margin-left:23px;
}
.features_right div a:hover,.features_right div a:active,.features_right div a:focus{
	color:#fff !important;
	background:#21C2F8;
	border:1px solid #21C2F8;
	font-weight:400;
}

/* Featured Style end */
/*onle Line title Area start*/
.oneLineTitleArea{
	background:none repeat scroll 0 0 #21C2F8 !important;
}
.oneLineTitleAreaInner{}
.oneLineTitleAreaInner h2{
	color: #FFFFFF;
	display: block;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}


/* ==============================================================
================= TEAM
============================================================== */
/*onle Line title Area end*/
/*Team style start*/
#ourTeam {
    background: #ECEBEB;
}
#ourTeam .sepTeam {
    width: 15px;
    height: 2px;
    background: #000;
    margin: 0 auto;
    margin-bottom: 5px;
}
.team_area{}
.team_area .team{}
.team_area .team .section_title{}
.team_box{
	margin-top:23px;
}
.single_team{
	text-align: center;
	margin: 0;
	padding: 0;
}
.single_team div{
	padding:16px;
	color:#000;
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.single_team div h6{
    color: #000;
    font-size: 10px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.single_team div h2{
	color: #000;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 0 10px;
}
.single_team div p{
    color: #878b99;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
}
.single_team div:first-child{
	background:transparent;
	margin:0;
	padding:0;
	min-height:200px;
}
.single_team div:first-child img{
	width:auto;
	margin:0;
	padding:0;
	display:inline-block;
	position:absolute;
	bottom:0px;
	z-index:1;
	left:0;
	transition:all .5s;
	cursor:default;
	max-height:380px;
	max-width:100%;
}
.single_team:hover div:first-child img{
}
.single_team div:last-child{
	background: #fff;
	margin: 0;
	word-spacing: 1px;
}
.single_team div:last-child a{
	color: #000000;
	font-size: 21px;
	line-height: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.single_team div:last-child a:hover{
	color:#21C2F8;
}
.team_membar_area{
	border-bottom: 1px solid #DDDDDD;
}
.single_team_mamber{
	
}
.single_team_mamber .profile_picture{
	text-align:right;
}
.single_team_mamber .profile_picture img{
	border: 0 none;
	display: inline-block;
	margin: 0;
	width: auto;
	padding: 0;
	height:434px
}
.single_team_mamber .profile_content{
	
}
.single_team_mamber .profile_content h2{
    color: #000000;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: 800;
	margin: 0;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
.single_team_mamber .profile_content h5{
	color: #000000;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 0 10px;
	padding: 5px 0;
	text-transform: uppercase;
	text-align:left;
}
.single_team_mamber .profile_content p{
	color: #000000;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: left;
}
.single_team_mamber .profile_content .profile_social{
	line-height: 62px;
	margin: 30px 0 0 0;
	padding: 0;
	text-align:right;
}
.single_team_mamber .profile_content .profile_social a{
	border: 1px solid;
	border-radius: 50%;
	color: #000000;
	font-size: 21px;
	margin: 0 3px;
	padding: 10px;
	text-decoration: none;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s;
}
.single_team_mamber .profile_content .profile_social a:hover{
	background:#21C2F8;
	border-color:#21C2F8;
	color:#fff;
}
.all_team{
	display:none;
}
#single_team_mamber_back{
	padding-top:60px;
	overflow:hidden;
	position:relative;
	left:0;
	top:0;
	display:none;
}
.single_team_mamber_close{
	color: #000;
	line-height: 0;
	position: absolute;
	top: 85px;
	z-index:100;
	right: 10px;
	font-size: 55px;
	text-decoration: none;
}
.single_team_mamber_close:hover{
	color:#21C2F8;
	text-decoration: none;
}



/* Price Table area style begin*/
.btn-success {
    background-color: #21C2F8 !important;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color: #FFFFFF;font-weight: 300;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.border_left_none:hover{
	border-left:0 none;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
	border-radius: 0 !important;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;font-weight: 300;

    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	font-weight: 300;
	margin-top:10px;
}

.btn-absor {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #21C2F8;
	color: #21C2F8 !important;
	font-size: 18px;
	font-weight: 600;
	padding: 13px 21px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	margin:10px 0 27px 0;
}
.btn-absor:hover {
	background: #21C2F8;
	color:#fff !important;
	font-weight: 600;
}
/* Price Table area style end*/









/* ==============================================================
================= SERVICES
============================================================== */
/*Services Two column style start*/
#services {
    background: #ECEBEB;
}
.why_skyes_two_column_area{
	
}
.why_skyes_two_column{
	
}
.why_skyes_two_column_left .serviceCicle,.why_skyes_two_column_right .serviceCicle{
	margin:0;
	padding:0;
	margin-bottom:25px;
}
.why_skyes_two_column_left .serviceCicle h2,.why_skyes_two_column_right .serviceCicle h2{
	color: #000000;
	font-size: 38px;
	font-weight: 800;
	margin: 0;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
.sepServices {
    width: 40px;
    height: 1px;
    background: #F06E6A;
    display: inline-block;
}
.why_skyes_two_column_left .serviceCicle p,.why_skyes_two_column_right .serviceCicle p{
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	margin: 0 auto;
	max-width: 862px;
	padding: 9px 0 0;
	text-align: left;
}
.why_skyes_two_column_left .accordion_area{
	margin-top:77px;
}
.why_skyes_two_column_left .accordion_area .panel-default{
	box-shadow: none;
	border: 0;
	border-radius: 0;
	margin:0;
	padding:0;
}
.why_skyes_two_column_left .accordion_area .panel-default .panel-heading{
	background: none repeat scroll 0 0 #FFFFFF;
	border:0;
	border-radius: 0;
	margin: 5px 0 0;
	padding: 0;
}
.why_skyes_two_column_left .accordion_area .panel-default .panel-heading a{
	color: #21C2F8;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	position:relative;
	z-index:1;
	left:0;
	top:0;
	border: 1px solid rgba(33, 194, 248, 0.5);
}
.accordion_sign{
	display: inline-block;
	float: right;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.why_skyes_two_column_left .accordion_area .panel-default .panel-heading a:hover ,.activePanel a{
	color:#fff !important;
	background: #21C2F8;
	border-color: #21C2F8;
}
.why_skyes_two_column_left .accordion_area .panel-collapse{
	margin:0;
	padding:0;
}
.why_skyes_two_column_left .accordion_area .panel-collapse .panel-body{
	border-bottom: 1px solid rgba(33, 194, 248, 0.5);
	border-left: 1px solid rgba(33, 194, 248, 0.5);
	border-right: 1px solid rgba(33, 194, 248, 0.5);
	margin: 0;
	padding: 13px;
}
.why_skyes_two_column_left .accordion_area .panel-collapse .panel-body p{
	color: #000000;
	font-size: 14px;
	line-height: 24px;
	margin: 5px 0;
	padding: 0px;
}
.why_skyes_two_column_right{}
.why_skyes_two_column_right .tab_area{
	margin-top:77px;
}
.why_skyes_two_column_right .tab_area .tab_menu{
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.why_skyes_two_column_right .tab_area .tab_menu:after{
	width:1px;
	height:1px;
	content:"";
	background:rgba(33, 194, 248, 0.5);;
	bottom:0px;
	left:0;
	z-index:1;
	position:absolute;
}
.why_skyes_two_column_right .tab_area .tab_menu li{}
.why_skyes_two_column_right .tab_area .tab_menu li a{
	background: none repeat scroll 0 0 #ADADAD;
	border-color: rgba(33, 194, 248, 0.5);
	border-radius: 0;
	color: #FFFFFF;
	display: block;
	font-size: 16px;
	font-weight: bold;
	left: 0;
	line-height: 20px;
	margin: 0;
	padding: 15px 5px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	top: 0;
	z-index: 1;
	border-bottom-color:#ADADAD;
}
.why_skyes_two_column_right .tab_area .tab_menu li+li a {
	border-left-color: #ADADAD;
}
.why_skyes_two_column_right .tab_area .tab_menu li:nth-child(2) a ,.why_skyes_two_column_right .tab_area .tab_menu li:nth-child(1) a {
	border-right-color: #ADADAD;
}
.why_skyes_two_column_right .tab_area .tab_menu li a:hover{
	background: none repeat scroll 0 0 #21C2F8;
	border-bottom-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.why_skyes_two_column_right .tab_area .tab_menu li a:focus,.why_skyes_two_column_right .tab_area .tab_menu .active a{
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom-color: rgba(0, 0, 0, 0);
	color: #21C2F8;
}
.why_skyes_two_column_right .tab-content{
	margin:0;
	padding:0;
	border-bottom: 1px solid rgba(33, 194, 248, 0.5);
	border-left: 1px solid rgba(33, 194, 248, 0.5);
	border-right: 1px solid rgba(33, 194, 248, 0.5);
	padding: 13px;
}
.why_skyes_two_column_right .tab_area .single_tab_content{
	margin:0;
	padding:0;
}
.why_skyes_two_column_right .tab_area .single_tab_content p{
	color: #000000;
	font-size: 14px;
	line-height: 24px;
	margin: 5px 0;
	padding: 0px;
}
.why_skyes_two_column_right .tab_area .single_tab_content ul{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.why_skyes_two_column_right .tab_area .single_tab_content ul li{
	background: url("../images/tab_arrow.png") no-repeat scroll left center / 10px 10px rgba(0, 0, 0, 0);
	background-size:10px 10px;
	line-height: 24px;
	padding-left: 20px;
	font-size:14px;
	color: #000000;
}
.why_skyes_two_column_right .tab_area .single_tab_content ul li span{}
/*Why Choose Two column style end*/



/* ==============================================================
================= SERVICES 2
============================================================== */
/*Why choose skyes style start*/
.why_choose_area{
    margin-top: 0px;
}
.why_choose_area .section_title{}
.why_choose_area .why_choose_content{}
.why_choose_area .why_choose_content .why_choose_left{
    text-align: right;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    padding-right:0px;
}
.why_choose_area .why_choose_content  ul{
    display: block;
    list-style: none outside none;
    margin: 2px 0;
    overflow: hidden;
    padding: 32px 0;
}
.why_choose_area .why_choose_content  ul li{
    width:430px;
}
.why_choose_area .why_choose_content  ul li h2{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.why_choose_area .why_choose_content  ul:hover li h2 a{
    color:#F06E6A;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -webkit-transition:all .5s;
    -ms-transition:all .5s;
    transition:all .5s;
}
.why_choose_area .why_choose_content  ul li h2 a{
    text-decoration:none;
    color: #414655;
    font-size: 16px;
    display:block;
    margin:0;
    padding:0;
}
.why_choose_area .why_choose_content  ul li  p{
    color: #8f929e;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 auto;
    padding: 0;
}
.why_choose_area .why_choose_content  ul:hover li  .serviceCicle{
}
.why_choose_area .why_choose_content  ul li  .serviceCicle{
    background: none repeat scroll 0 0 #414655;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 33px;
    font-weight: 800;
    height: 90px;
    line-height: 0;
    margin: 0 0 0;
    overflow: hidden;
    padding: 30px 0 0;
    text-align: center;
    text-indent: 0;
    transition: all 0.5s ease 0s;
    width: 90px;
}
.why_choose_area .why_choose_content  ul:hover li  .serviceCicle span{
    color: #F06E6A;
    -webkit-animation: animation_1 .5s;
    -moz-animation: animation_1 .5s;
    -ms-animation: animation_1 .5s;
    -o-animation: animation_1 .5s;
    animation: animation_1 .5s;
}
.why_choose_area .why_choose_content  ul li  span{

}
@keyframes animation_1{
    0%{
        margin-left:0;
    }
    30%{
        margin-left:100px;
    }
    30.1%{
        margin-left:-200px;
    }
    100%{
        margin-left:0;
    }
}
@-moz-keyframes animation_1{
    0%{
        margin-left:0;
    }
    30%{
        margin-left:100px;
    }
    30.1%{
        margin-left:-200px;
    }
    100%{
        margin-left:0;
    }
}
@-webkit-keyframes animation_1{
    0%{
        margin-left:0;
    }
    30%{
        margin-left:100px;
    }
    30.1%{
        margin-left:-200px;
    }
    100%{
        margin-left:0;
    }
}
@-o-keyframes animation_1{
    0%{
        margin-left:0;
    }
    30%{
        margin-left:100px;
    }
    30.1%{
        margin-left:-200px;
    }
    100%{
        margin-left:0;
    }
}
.why_choose_area .why_choose_content .why_choose_left ul li{
    float:right;
}
.why_choose_area .why_choose_content .why_choose_left ul li:nth-child(odd){
    width: 118px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-left:5px;
}
.why_choose_area .why_choose_content .why_choose_right{
    text-align: left;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    padding-left:0px;
}
.why_choose_area .why_choose_content .why_choose_right ul{}
.why_choose_area .why_choose_content .why_choose_right ul li{
    float:left;
}
.why_choose_area .why_choose_content .why_choose_right ul li h2{}
.why_choose_area .why_choose_content .why_choose_right ul li  p{}
.why_choose_area .why_choose_content .why_choose_right ul li:nth-child(odd){
    width: 118px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right:5px;
}
.why_choose_area .why_choose_content .why_choose_right ul li:nth-child(odd) span{ }
/*Why choose skyes style end*/



/* ==============================================================
================= ABOUT
============================================================== */
/* About skyes style start */
#aboutme {
    background: url("../images/2.png") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
}
#aboutme  .section_title{
    padding-bottom:60px;
}
#aboutme  .section_title h2{
    color: #fff;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}
#aboutme .section_title p{
    color: #878b99;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 auto;
    max-width: 862px;
    padding: 9px 0 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
#aboutme .photoOfMe {
    border-radius: 100%;
    border: 10px solid rgba(94, 99, 115, 0.4);
    margin-bottom: 40px;
}

#aboutme .aboutText {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#aboutme .aboutText p {
    line-height: 28px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 0px rgba(59, 64, 79, 1);
}
/* About skyes style end */





/* ==============================================================
================= FEATURED PRODUCT
============================================================== */
/* About skyes style start */
#featProduct {
    background: url("../images/bg-feat-product.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
}
.featArea_padding {
    overflow: hidden;
    padding: 100px 0 0 0;
}
#featProduct  .section_title{
    padding-bottom:60px;
}
#featProduct  .section_title h2{
    color: #fff;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}
#featProduct .section_title p{
    color: #878b99;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 auto;
    max-width: 862px;
    padding: 9px 0 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
#featProduct a {
    background-color: #F06E6A;
    border-radius: 50px;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: normal;
    transition: all 0.5s ease 0s;
}
#featProduct a:hover {
    background-color: #fff;
    color: #F06E6A !important;
}
#featProduct img {
    margin-top: 60px;
}
#featProduct .featText {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#featProduct .featText p {
    line-height: 28px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 0px rgba(59, 64, 79, 1);
}
/* About skyes style end */


/* ==============================================================
================= Counter Icon Style
============================================================== */
/*counter icon style start*/
.counter_icon_area{
	background: none repeat scroll 0 0 #000000 !Important;
	color: #FFFFFF;
	border-top: 0 none !important;
}
.counter_icon_area .counter_icon{}
.counter_icon_area .counter_icon .single_counter_item{
	text-align:center;
}
.counter_icon_area .counter_icon .single_counter_item div{
	border: 1px solid;
	border-radius: 50%;
	display: inline-block;
	height: 100px;
	margin: 10px auto;
	padding: 0;
	text-align: center;
	width: 100px;
	overflow:hidden;
}
.counter_icon_area .counter_icon .single_counter_item div span{
	color: #FFFFFF;
	display: inline-block;
	font-size: 45px;
	margin-top: 24px;
}
@keyframes animation3{
	0%{
		margin-top: 24px;
	}
	50%{
		margin-top: 150px;
	}
	50.01%{
		margin-top: -180px;
	}
	100%{
		margin-top: 24px;
	}
}
@-moz-keyframes animation3{
	0%{
		margin-top: 24px;
	}
	50%{
		margin-top: 150px;
	}
	50.01%{
		margin-top: -180px;
	}
	100%{
		margin-top: 24px;
	}
}
@-webkit-keyframes animation3{
	0%{
		margin-top: 24px;
	}
	50%{
		margin-top: 150px;
	}
	50.01%{
		margin-top: -180px;
	}
	100%{
		margin-top: 24px;
	}
}
@-o-keyframes animation3{
	0%{
		margin-top: 24px;
	}
	50%{
		margin-top: 150px;
	}
	50.01%{
		margin-top: -180px;
	}
	100%{
		margin-top: 24px;
	}
}
@-ms-keyframes animation3{
	0%{
		margin-top: 24px;
	}
	50%{
		margin-top: 150px;
	}
	50.01%{
		margin-top: -180px;
	}
	100%{
		margin-top: 24px;
	}
}
.counter_icon_area .counter_icon .single_counter_item div:hover span{
	animation: animation3 .5s;
}
.counter_icon_area .counter_icon .single_counter_item h2{
	color: #21C2F8;
	font-size: 48px;
	font-weight: 200;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	border-bottom: 1px solid;
	display: inline-block;
	margin: 0 auto;
	margin-top:40px;
	padding-bottom:10px;
	margin-bottom:10px;
}
.counter_icon_area .counter_icon .single_counter_item a{
	color: #DADADA;
	display: block;
	font-size: 24px;
	font-weight: 800;
	margin:0;
	padding: 0;
	text-decoration: none;
	text-shadow: none !important;
	 text-transform: capitalize;
}
.counter_icon_area .counter_icon .single_counter_item a:hover{
	color:#21C2F8;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	-webkit-transition:all .5s;
	-ms-transition:all .5s;
	transition:all .5s;
}
/*counter icon style end*/


/* ==============================================================
================= CONTACT
============================================================== */
/*contact style start*/
#contact {
    background: #F3F4F5;
}
.msgSendOk {
    font-size: 24px;
    float: right;
    color: #414655;
    font-weight: bold;
}
#contact .sepTeam {
    width: 15px;
    height: 2px;
    background: #000;
    margin-bottom: 5px;
}
#contact .form-control {
    border-radius: 0px;
    font-size: 12px;
    text-transform: none;
}
.contact_area{
	padding-top: 0;
}
.map_area{
	height: 350px;
	margin: 0;
	padding: 0;
}
.map_area iframe{
	width:100%;
	height:500px;
	margin:0;
	padding:0;
}
.contact_area .contact{
	padding-top:100px;
}
.contact_area .contact .contact_left{
    margin-left: 50px;
}
.contact_area .contact .contact_left div{
	padding-bottom:23px;
	margin-bottom:23px;
}
.contact_area .contact .contact_left div:last-child{
	padding-bottom:0;
	border-bottom:0;
	margin-bottom:0;
}
.contact_area .contact .contact_left div h2{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 18px 0;
	text-align: left;
	text-transform: uppercase;
	padding:0;
}
.contact_area .contact .contact_left div p{
	color: #000000;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: left;
}
.contact_area .contact .contact_left .social_contact{
	text-align:center;
	overflow:hidden;
}
.contact_area .contact .contact_left .social_contact a{
	color: #DDDDDD;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	-moz-transition:all .5s;
	-o-transition:all .5s;
	-webkit-transition:all .5s;
	-ms-transition:all .5s;
	transition:all .5s;
}
.contact_area .contact .contact_left .social_contact a:hover{
	color:#21C2F8;
}
.contact_area .contact .contact_right{}
.contact_area .contact .contact_right form{}
.contact_area .contact .contact_right form div{}
.contact_area .contact .contact_right form div input{
	border-color: transparent;
	color: #000000;
	font-size: 14px;
	font-weight: normal;
	height: 52px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	border-width: 1px;
}
.contact_area .contact .contact_right form div span{
	color: #000000;
	display: inline-block;
	font-family: entypo;
	font-size: 43px;
	line-height: 0;
	margin-top: 16px;
}
.contact_area .contact .contact_right form div textarea{
	border-color: transparent;
	height: 163px;
	color:#000000;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	border-width: 1px;
}
.contact_area .contact .contact_right form input[type='submit']{
	background: #414655;
    color: #fff;
	font-size: 14px;
	height: 50px;
	margin: 0;
	text-shadow: none !important;
	text-transform: uppercase;
	width: 100%;
	border: 0 none !important;
	-moz-transition:all .4s;
	-o-transition:all .4s;
	-webkit-transition:all .4s;
	-ms-transition:all .4s;
	transition:all .4s;
}
.contact_area .contact .contact_right form input[type='submit']:hover{
    opacity: 0.8;
}
.contact_area .invalid{
	border-color:red !important;
}
/*contact style end*/


/* ==============================================================
================= FOOTER
============================================================== */
/*fotter slider area style start*/
.fotter_slider_area {
  padding: 0 !important;
  width: 100%;
}
.footer_slider_area{
	margin:0;
	width:100%;
	height:500px;
	overflow:hidden;
	position:relative;
	top:0;
	left:0;
	z-index:5;
}
.footer_slider_area .flexslider{
	margin:0;
	width:100%;
	height:500px;
	overflow:hidden;
	position:relative;
	top:0;
	left:0;
	z-index:5;
}

.footer_slider_area .flexslider .flex-viewport{
	width:100%;
	height:100%;
}
.footer_slider_area .flexslider .slides{
	margin:0;
	
	height:500px;
	overflow:hidden;
	position:relative;
	top:0;
	left:0;
	z-index:5;
}
.footer_slider_area .flexslider .slides .li{
}
/*fotter slider area style end*/
/*fotter style start*/
.footer_area{
	background: #fff !important;
	color: #21C2F8;
	padding:45px 0 0 0 !important;
}
.footer{}
.footer .socialFooter {
    margin: 0 auto;
    text-align: center;
}
.footer .socialFooter a {
    color: #bbb;
    font-size: 26px;
    padding: 5px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out 0s;
}
.footer .socialFooter a:hover {
    color: #414655;
    border-bottom: 3px solid #414655;
}
.footer hgroup{}
.footer  h3{
	font-size: 11px;
	font-weight: 400;
	margin-bottom: 20px;
	padding-top: 15px;
	text-align: center;
	text-transform: uppercase;
	color:#666;
}
.footer  h3 a{
	color:#21C2F8 !important;
	text-decoration:none;
	display:inline-block;
	-webkit-transition:color .8s;
	-moz-transition:color .8s;
	-o-transition:color .8s;
	-ms-transition:color .8s;
	transition:color .8s;
}
.footer  h3 a:hover{
	color:#666 !important;
}
/*fotter style end*/


#preloader  {
	background: url("../images/bx_loader.gif") no-repeat scroll center center #FFFFFF;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 100000;
 }

 
 /* Slider Color*/
 #sequence .single_slide div a:hover{
	background: #21C2F8;
	color:#fff !important;
}
#sequence .single_slide div a{
	border: 1px solid #21C2F8;
	color: #21C2F8 !important;
}
.myfont{
	color: #333333;
	font-family: Impact, Charcoal, sans-serif;
}